.question {
    margin-top: 20px;
}

.error-message {
    font-size: 12px;
    color: #f00;
}

.question input{
    border: 0;
    border-bottom: 3px solid #7f7f7f;
    outline: none;
    transition: all .4s;
}

.question input:focus{
    border-bottom-color: #000;
}